body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

main {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.header-background {
    background-image: url("../images/Background/Bg-480px.svg");
    background-position: 100% 0;
    background-repeat: no-repeat;
}

.margin-area {
    margin: 0 40px;
}

header {
    padding-top: 20px;
    box-sizing: border-box;
}

.nav-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    box-sizing: border-box;
    width: 164px;
    float: left;
}

footer .logo {
    float: none;
}

nav {
    font-size: 1em;
    line-height: 22px;
    position: relative;
    display: none;
}

.nav-elements {
    color: #2E3D4E;
    margin-right: 60px;
    text-decoration: none;
    cursor: pointer;
}

.nav-elements:hover {
    color: #E2696C;
    border-style: solid;
    border-color: #E2696C;
    border-width: 0 0 1px 0;
    box-sizing: border-box;
}


.hire-button {
    box-sizing: border-box;
    font-size: 0.875em;
    color: #E2696C;
    width: 120px;
    height: 42px;
    border: #E2696C 2px solid;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    outline: none;
    transition-duration: 0.25s;
}

.hire-button:hover {
    background: #E2696C;
    color: #FFFFFF;
}

.demo-section {
    text-align: center;
    margin-top: 72px;
}

.title {
    color: #2E3D4E;
    font-weight: lighter;
}

.text {
    color: #5F6E7F;
    font-size: 0.875em;
}

.demo-title {
    line-height: 34px;
}

.demo-subtitle {
    line-height: 24px;
    margin-bottom: 20px;
}

.demo-button {
    width: 180px;
    height: 45px;
    background-color: #E2696C;
    box-shadow: 0 10px 25px rgba(226, 105, 108, 0.4);
    border-radius: 4px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition-duration: 0.25s;
    border-color: rgba(0, 0, 0, .0);
}

.demo-button:hover {
    background-color: rgba(226, 108, 105, .5);
}

.card-background {
    background-image: url("../images/Background/Rectangle (1).svg");
    background-repeat: no-repeat;
}

.card-section {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 49px 24px;
    grid-template-areas: "card1 card2" "card3 card4"
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #DFE2E5;
    border-radius: 4px;
    text-align: center;
    padding: 25px 20px;
}

.card:hover {
    box-shadow: 0 10px 25px rgba(95, 110, 127, 0.109921);
    border-color: rgba(0, 0, 0, .0);
    transition-duration: 0.25s;
}

.card-title {
    font-size: 1.063em;
    line-height: 23px;
    margin-top: 15px;
    margin-bottom: 9px;
    padding: 0;
}


.card-line {
    margin: 0 auto;
    width: 8px;
    border: 1px solid #E2696C;
}

.card-text {
    margin-top: 11px;
    line-height: 19px;
}

.read-more-button {
    line-height: 19px;
    font-size: 0.875em;
    text-decoration-line: underline;
    color: #E2696C;
    cursor: pointer;
}

.using-title {
    margin-top: 100px;
    margin-bottom: 45px;
    font-size: 1.25em;
    line-height: 27px;
    text-align: center;
}

.using-icons-part {
    display: flex;
    flex-basis: 361px;
    flex-wrap: wrap;
    justify-content: center;
}

.using-icons-stretch {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.using-icons-stretch-960px {
    display: none;
    justify-content: space-between;
    width: 100%;
}

.using-icons-area {
    display: flex;
    flex-direction: column;
}

.using-line {
    height: 0;
    border-color: #DFE2E5;
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 61px;
    margin-top: 29px;
}

.using-line-vert {
    height: 61px;
    border-color: #DFE2E5;
    border-style: solid;
    border-width: 0 1px 0 0;
    width: 16px;
    margin: 25px auto;
}


.using-line-desktop {
    display: flex;
    align-self: flex-start;
    border-color: #DFE2E5;
    border-style: solid;
    border-width: 1px 0 0 0;
    min-width: 61px;
    margin-top: 29px;
}

.using-text {
    max-width: 100px;
    text-align: center;
    margin-top: 16px;
}

.using-button {
    box-sizing: border-box;
    text-align: center;
    margin-top: 119px;
    margin-bottom: 38px;
}

.request-button {
    display: none;
}

.freedom-background {
    background-image: url("../images/Background/Rectangle.svg");
    background-repeat: no-repeat;
}

.section-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px;
}

.title-grid {
    grid-area: title;
}

.img-grid {
    grid-area: img;
}

.text-grid {
    grid-area: text-area;
}

.more-text-grid {
    grid-area: more-text;
}

.button-grid {
    grid-area: button-section;
}

.section-title {
    font-size: 1.688em;
    line-height: 37px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.section-text {
    margin-top: 20px;
    line-height: 24px;
}

.freedom-600px {
    display: none;
    margin-top: 30px;
}

.button-area {
    margin-top: 45px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0;
}

.button-area-600px {
    display: none;
}

.techno-text {
    margin-top: 40px;
}

.exchanges-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 29px;
    font-size: 1.313em;
    line-height: 29px;
}

.exchanges-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crm-background {
    background-image: url("../images/Background/Rectangle Copy 5.svg");
    background-repeat: no-repeat;
    background-size: 0;
}

span {
    display: none;
}

.crm-icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.crm-icons-text {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.icons-space {
    margin-right: 15px;
}

.icon-size {
    width: 28px;
}

.reports-background {
    background-image: url("../images/Background/Rectangle-reports.svg");
    background-repeat: no-repeat;
    background-size: 0;
}

footer {
    margin-top: 100px;
    background-color: #2F2E41;
    color: #FFFFFF;
}

.footer-area {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(178px, auto));
    grid-gap: 40px;
    justify-content: space-between;
}

.follow-icons {
    display: flex;
}

.follow-icons-space {
    margin-right: 25px;
}

.footer-title {
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: 1.125em;
    line-height: 25px;
}

.footer-subtitle {
    font-size: 0.875em;
    line-height: 19px;
    margin-bottom: 13px;
}

.mail {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;

}

.up-button {
    background-image: url("../images/footer-icons/Button Up.svg");
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    border: 0;
    padding: 0;
    border-radius: 4px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    opacity: 50%;
}

.up-button:hover {
    opacity: 100%;
    transition-duration: 0.25s;
}

.rights-area {
    font-size: 0.875em;
    line-height: 19px;
    color: #AFAFB9;
    text-align: center;
    padding-bottom: 20px;
}

.form-position {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
}

.registration-form {
    box-sizing: border-box;
    background-image: url("../images/form/form-background.svg");
    margin: 5px auto;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    border-radius: 4px;
    text-align: center;
    overflow: auto;
    max-height: 100vh;
    max-width: 400px;
}

.form-close-button-position {
    display: flex;
    justify-content: flex-end;
}

.form-close-button {
    font-size: 1em;
    margin-top: 20px;
    margin-right: -20px;
    margin-bottom: 0;
    color: #BCC2C9;
    border: 0;
    padding: 0;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.form-close-button:hover {
    color: black;
}

.form-header {
    text-align: left;
    margin-bottom: 37px;
    font-weight: bold;
    font-size: 1.875em;
    line-height: 41px;
}

.form-input-area {
    width: 100%;
    border: 1px solid rgba(46, 61, 78, 0.42);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 16px;
    margin-bottom: 28px;
    background-color: transparent;
    height: 48px;
    position: relative;
}

.form-input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2E3D4E;
    position: relative;
    z-index: 1;
}

.input-name {
    font-style: normal;
    color: rgba(46, 61, 78, 0.7);
    background-color: #FFFFFF;
    font-size: 1em;
    line-height: 22px;
    font-weight: 300;
    position: absolute;
    left: 16px;
    top: 13px;
    transition-duration: 0.2s;
}

.input-name-onfocus {
    font-size: 13px;
    color: #2E3D4E;
    line-height: 16px;
    letter-spacing: 0.383858px;
    top: -9px;
    padding: 0 3px;
    transition-duration: 0.2s;
}

.form-input-area-onfocus {
    border: 2px solid #2E3D4E;
    border-radius: 4px;
}

.select-country-input {

}

.request-message {
    margin: 40px auto;
    width: 243px;
    background-color: #FFFFFF;
    border: 1px solid #DFE2E5;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 30px;
}

.request-icon {
    margin-top: -37px;
}

.request-header {
    margin-top: 20px;
    font-size: 1.125em;
    line-height: 25px;
    color: #2E3D4E;
    font-weight: bold;
}

.request-subtitle {
    font-size: 0.875em;
    line-height: 19px;
    color: rgba(46, 61, 78, 0.7);
    margin-top: 9px;
    margin-bottom: 30px;
    padding: 0 48px;
}

.request-message-button {
    background: #71C341;
    box-shadow: none;
}

.request-message-button:hover {
    background-color: rgba(113, 195, 65, .5);
}
