@media screen and (max-width: 480px) {
    .card-section {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 49px 24px;
        grid-template-areas: "card1" "card2" "card3" "card4"
    }

    .hire-button {
        width: auto;
    }
}

@media screen and (min-width: 600px) {
    .header-background {
        background-image: url("../images/Background/Bg-600px.svg");
    }

    br {
        display: none;
    }

    .demo-section {
        text-align: left;
    }

    .demo-subtitle {
        width: 72%;
        margin-bottom: 40px;
    }

    .card-background {
        background-image: url("../images/Background/Rectangle-600px.svg");
        transition-duration: 1s;
    }

    .card-section {
        padding-top: 83px;
        margin: 0 91px;
    }

    .using-icons-part {
        margin: 0 80px;
    }

    .section-title {
        display: flex;
        align-self: flex-start;
        margin-top: 40px;
    }

    .freedom-600px {
        display: flex;
    }

    .button-area-600px {
        display: block;
    }

    .crm-background {
        background-size: auto;
    }

    span {
        display: inline;
    }

    .reports-background {
        background-size: auto;
    }

}


@media screen and (min-width: 960px) {
    .margin-area {
        margin: 0 50px;
    }

    .header-background {
        background-image: url("../images/Background/Image-960px.svg");
        background-size: contain;
    }

    .logo {
        width: 175px;
    }

    .demo-title {
        font-size: 2.5em;
        line-height: 55px;
    }

    .demo-section {
        margin-top: 154px;
        margin-bottom: 70px;
    }

    h2 > br {
        display: block;
    }

    .demo-subtitle {
        margin-bottom: 35px;
        font-size: 1em;
        line-height: 26px;
        width: 45%;
    }

    .card-background {
        background-image: url("../images/Background/Rectangle-960px.svg");
        transition-duration: 1s;
        padding-top: 30px;
    }

    .card-section {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 49px 24px;
        grid-template-areas: "card1 card2 card3 card4"
    }

    nav {
        display: block;
    }

    .using-icons-part {
        margin: 0;
        flex-wrap: nowrap;
    }

    .using-line-vert {
        display: none;
    }

    .using-icons-stretch {
        display: none;
    }

    .using-icons-stretch-960px {
        display: flex;
    }

    .using-button {
        margin-top: 45px;
        margin-bottom: 50px;
    }

    .section-area {
        display: none;
    }

    .img-grid {
        width: 400px;
    }

    .section-area-left {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "title title" "text-area img" "more-text img" "button-section ."
    }

    .exchanges-title {
        text-align: left;
        font-size: 1.5em;
        line-height: 33px;
    }

    .techno-text {
        margin-top: 0;
    }

    .section-area-right {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 0 18px;
        grid-template-areas: "img title" "img text-area" "img more-text" "img more-text" ". button-section"
    }

    .reports-background {
        background-image: url("../images/Background/Bg image CRM-960.svg");
        background-repeat: no-repeat;
        background-position: 30% 0;
    }

    .button-area {
        margin-bottom: 130px;
    }

    footer {
        margin-top: 0;
    }
}

@media screen and (min-width: 1280px) {
    .margin-area {
        margin: 0 80px;
    }

    .header-background {
        background-image: url("../images/Background/Image-960px.svg");
        background-size: auto;
    }

    .logo {
        width: 195px;
    }

    .demo-title {
        font-size: 2.938em;
        line-height: 64px;
    }

    .demo-section {
        margin-top: 163px;
        padding-bottom: 108px;
    }

    .demo-subtitle {
        font-size: 1.25em;
        line-height: 33px;
    }

    .card-title {
        font-size: 1.188em;
        line-height: 26px;
    }

    .text {
        font-size: 1em;
        line-height: 26px;
    }

    .using-title {
        font-size: 2.125em;
        line-height: 46px;
    }

    .section-title {
        font-size: 2.125em;
        line-height: 46px;
    }

    .img-grid {
        width: 520px;
    }

    .reports-background {
        background-position: 44% 0;
    }

}

@media screen and (min-width: 1440px) {
    .margin-area {
        margin: 0 110px;
    }

    .header-background {
        background-image: url("../images/Background/Image-960px.svg");
        background-size: auto;
    }

    .demo-section {
        margin-top: 163px;
        padding-bottom: 108px;
    }

    .using-button {
        display: none;
    }

    .button-area-600px {
        display: none;
    }

    .request-button {
        display: block;
        margin-bottom: 0;
    }

    .reports-background {
        background-position: 39% 0;
    }

    .section-area {
        margin-top: 150px;
    }
}
